*{
    box-sizing: border-box;
}
body{
    margin: 0%;
    padding: 0%;
}
.container_one{
    max-width: 1280px;
    margin: 0 auto;
    padding: 36px 16px 12px;

}
.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 24px 16px 12px;

}
.section1{
    width: 100%;
    background: linear-gradient(rgb(230, 242, 252) 57%, rgb(255, 255, 255) 0%);
}
#head_part_txt_uppar{
    font-family: "GoodRx Moon", arial;
    font-weight:500;
    font-size: 36px;
    line-height:1;
    font-variant-ligatures: no-contextual;
    color: rgb(32, 31, 27);
    margin-bottom: 16px;
    margin-top: 0%;
}
#head_part_txt_uppar_para{
        font-family: "GoodRx Bolton", arial;
        font-weight: 400;
        font-size: 18px;  
         color: rgb(32, 31, 27);
         line-height: 1.55556;
         margin: 0%;
}
.first_one_head{
    display: flex;
    width: 100%;
    padding-bottom: 24px;
}
.headpart_txt{
    width: 40%;
}
.first_img_icon{
    display: flex;
    padding: 0px 8px;
    align-items: center;
    img{
        height: 81.5px;
        width: 100px;
        margin-right:16px;
    }
  
}
.second_img_icon{
    display: flex;
    padding: 0px 8px;
    align-items: center;
    img{
        height: 81.5px;
        width: 100px;
        margin-right:16px;
    }
}
.third_img_icon{
    display: flex;
    padding: 0px 8px;
    align-items: center;
    img{
        height: 81.5px;
        width: 100px;
        margin-right:16px;
    }
}
.section2_img{
    width: 60%;
    display: flex;
    padding: 0px 12px;
    
}
.img_section1,.img_section2,.img_section3{
    padding: 20px;
}
#imji{
    font-size: 16px;
    font-family: "GoodRx Bolton", arial;
    line-height: 1.5;
    font-weight: 400;
}
.first_one{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}
.img_section_common{
    margin-right: 24px;
    flex: 1 1 0%;
    height: auto;
    padding:12px 0px;
    a{
        text-decoration: none;
        width: 100%;
        height: 100%;
        display: inline-block;

    }
    

}
.uiniw{
    margin-right: 0%;
}
.same_img_with_txt:hover{
    background-color: #f0f0ed;
}

.same_img_with_txt{
    display: flex;
    flex-direction: column;
    padding: 20px;
    cursor: pointer;
    box-shadow: rgba(34, 34, 34, 0.1) 0px 4px 16px, rgba(34, 34, 34, 0.08) 0px 1px 2px;
    border-radius: 20px;
    background-color: #ffff;
    width: 100%;
    height: 100%;
    img{
        width: 360px;
        height: 201.6px;
        border-radius: 10px;
    }
}
.inner_same_with_max_height{
    flex-direction: column;
    height: 100%;
    width: 100%;
    display: flex;
}

#ques{
    font-size: 28px;
    line-height: 1;
    font-family: "GoodRx Moon", arial;
    font-weight: 500;
    color: rgb(32, 31, 27);
    margin-bottom: 12px;
    margin-top:0%;
}
.img_down_txt{
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    span{
        margin-top:auto;
        color: rgb(87, 87, 87);
        font-family: "GoodRx Bolton", arial;
        font-weight: 400;
        font-size: 14px;
    }

}

.health_az_text{
    display: flex;
    align-items:baseline;
    h2{
        margin:0 16px 8px 0;
        font-family: "GoodRx Moon", arial;
        font-weight: 500;
        font-size:28px;
        line-height: 1;
    }
    a{
        color: rgb(15, 86, 166);
        font-size: 16px;
        display: flex;
        font-family: arial,sans-serif;
        
    }
}
#health_para{
    font-size: 16px;
    font-family: "GoodRx Bolton", arial;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 12px;
    margin-top: 0%;
    color: rgb(32, 31, 27);
}
.A-z{
    display: flex;
    flex-wrap: wrap;
    button{
        width: 48px;
        height: 48px;
        font-size: 16px;
        padding: 0px;
        border-radius: 100px;
        border: 1px solid rgb(15, 86, 166);
        font-family: "GoodRx Bolton", arial;
        font-weight: 500;
        line-height: 1;
        justify-content: center;
        background-color: #ffff;

    }
    a{
        margin-bottom: 16px;
        margin-right: 12px;
    }
    button:hover{
        background-color: #f0f0ed;
    }
}
.health_ui_section{
    display: flex;
    flex-flow: wrap;
    margin-right: -8px;
    margin-left: -8px;
    box-sizing: border-box;
}

.upper_health_expert_section{
    padding-left: 12px;
    padding-right: 8px;
    max-width: 66.6667%;
    flex-basis: 66.6667%;
    flex: 1 1 auto;
    box-sizing: border-box;

}
.upper_health_expert_section2{
    padding-left: 12px;
    padding-right: 8px;
    max-width: 33.3333%;
    flex-basis: 33.3333%;
    flex: 1 1 auto;
    box-sizing: border-box;
}

.inner_health_expert_section{
    padding: 20px;
    border-radius:16px ;
    border: 0px solid transparent;
    box-shadow: rgba(34, 34, 34, 0.1) 0px 4px 16px, rgba(34, 34, 34, 0.08) 0px 1px 2px;
    height: 100%;
    background-color: #FFF6BF;
    #section_inner_meet_txt{
        margin-top: 0%;
        margin-bottom: 16px;
        font-size: 28px;
        font-family: "GoodRx Moon", arial;
        font-weight: 500;
        line-height: 1;
        color: rgb(32, 31, 27);
    }
}
#our_team{
    font-size: 16px;
    font-family: "GoodRx Bolton", arial;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(32, 31, 27);
    margin: 0%;
}
.inner_health_expert_section2{
    padding: 20px;
    border-radius:16px ;
    border: 0px solid transparent;
    box-shadow: rgba(34, 34, 34, 0.1) 0px 4px 16px, rgba(34, 34, 34, 0.08) 0px 1px 2px;
    height: 100%;
    background-color:#E6F2FC;
    width: 100%;
}
.inner_most_part{
    margin: 4px;
    display: block;
    
}
.another_inner{
    display: flex;
    flex-direction: row;
}
#uito{
    text-align: center;
    margin-top: 0%;
    margin-bottom: 24px;
    font-size: 28px;
    font-family: "GoodRx Moon", arial;
    font-weight: 500;
    line-height: 1;
    color: rgb(32, 31, 27);
}
.inte_rel_em{
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  
}
.niop{
    width: 75px;
    height: 75px;
    margin-right: 24px;
}
.data_integrity_flex_column{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#main_txt_head_integrity{
    font-size: 24px;
    color: rgb(32, 31, 27);
    font-weight: 500;
    font-family: "GoodRx Moon", arial;
    line-height: 1;
    padding-bottom: 2px;
}
#not_main_head_integrity{
    color: rgb(32, 31, 27);
    font-weight: 400;
    font-size:16px;
    font-family: "GoodRx Bolton", arial;
    line-height: 1.5;
}
.learn_more_button{
    border-radius: 100px;
    background-color: rgb(15, 86, 166);
    width: 100%;
}
.learn_more_button:hover{
    background-color: #1d74de;
}
.learn_more{
    p{
        text-align: center;
        padding: 0%;
        margin: 0%;
        color: #ffff;
        font-family: "GoodRx Bolton", arial;
        font-weight: 500;
        line-height: 1;
        font-size: 16px;
    }
    
    padding: 12px 24px;
    text-decoration: none;
}
.meet_our_health_exbutton{
    padding: 14px 24px;
    background-color: rgb(15, 86, 166);
    border-radius: 100px;
  
   
}
.meet_our_health_exbutton:hover{
    background-color:#1d74de ;
    

}
.meet{
    text-decoration: none;
    display: flex;
    
    p{
        display: contents;
        padding: 0%;
        margin: 0%;
        color: #ffff;
        font-family: "GoodRx Bolton", arial;
        font-weight: 500;
        line-height: 1;
        font-size: 16px;

    }
}
.flex_button{
    display: flex;
    justify-content: flex-start;
    margin-top: 16px;
    margin-bottom: 32px;
}
.content_head_name{
    display: flex;
    width: 100%;
    box-sizing: border-box;
}
.left_content{
    margin-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 50%;
    display: block;
    flex-basis: 50%;
    a{
        text-decoration: none;
    }
}
.right_content{
    margin-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 50%;
    display: block;
    flex-basis: 50%;
    a{
        text-decoration: none;
    }

}
.inner_left_content{
    display: flex;
    padding: 16px;
    border-radius: 16px;
    background-color: #ffff;
}
.inner_left_content:hover{
    background-color: #f0f0ed;
}
.inner_img_txt_info{
    display: flex;
    align-items: center;

}
.divclass_lady_about_img{
    margin-right: 16px;
}
.lady_txt_info_about{
    display: flex;
    flex-direction: column;
}
#sophie_ver{
    font-family: "GoodRx Moon", arial;
    font-weight: 500;
    font-size:24px;
   
    line-height: 1;
    color: rgb(32, 31, 27);
    margin-top:0%;
    margin-bottom: 8px;
}
#pulmono{
    font-family: "GoodRx Bolton", arial;
    font-weight: 400;
    font-size:16px;
   
    line-height: 1.5;
    color: rgb(32, 31, 27);
    
}
.drug_info_saving_headmenu{
    display: flex;
    align-items: baseline;
    margin-bottom: 8px;
}
#ddrruugg{
    margin:0 16px 0 0;
    font-family: "GoodRx Moon", arial;
    font-weight: 500;
    font-size:28px;
    line-height: 1;
}


#ddrruugg_viewall{
    color: rgb(15, 86, 166);
        font-size: 16px;
        display: flex;
        font-family: arial,sans-serif;

}
.drug_all_info_section_flex{
    display: flex;
    width: 100%;
    
    a{
        text-decoration: none;
        
    }
}
.left_img_info_about{
    width: 50%;
    margin-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    a{
        display: inline-block;
        width: 100%;
        height: 100%;

    }
}
.inner_left_img_about{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-shadow: rgba(34, 34, 34, 0.1) 0px 4px 16px, rgba(34, 34, 34, 0.08) 0px 1px 2px;
    border-radius: 16px;
}
.miviti{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.outerlayer_img{
    display: flex;

}

.inner_img_only{
    
    padding-bottom: 8px;
    
    img{
        height:320.31px;
        width:572px;
        border-radius: 8px;
    }
}
.txt_of_img_data{
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
}
.pharmacists_ques{
    font-size: 32px;
    margin-top: 0%;
    margin-bottom: 12px;
    font-family: "GoodRx Moon", arial;
    line-height: 1;
    font-weight: 500;
    color: rgb(32, 31, 27);
}
#pharm_span{
    font-size: 14px;
    font-family: "GoodRx Bolton", arial;
    font-weight: 400;
    line-height: 1.42857;
    margin-top:auto;
    color: rgb(87, 87, 87);
}
.right_slide_data_about_pharmacy{
    display: flex;
    flex-flow: column wrap;
    width: 50%;
}
.broke_part_slide{
    display: flex;
    width: 100%;
    column-gap: 24px;

}
.left_slide_part_info{
    padding-top: 12px;
    padding-bottom: 12px;
    a{
        display: inline-block;
        width: 100%;
        height: 100%;
    }
    
}
.twe_slide_effect_ques{
    display: flex;
    padding: 20px;
    border-radius: 16px;
    box-shadow: rgba(34, 34, 34, 0.1) 0px 4px 16px, rgba(34, 34, 34, 0.08) 0px 1px 2px;
    width: 100%;
    height: 100%;


}
.inner_twe_slide_effect_dummy{
    flex-direction: column;
    height: 100%;
    width: 100%;
    display: flex;
}
.slide_effect_img{
    padding-bottom: 8px;
    img{
        height:142.24px;
        width: 254px;;
        border-radius: 8px;
    }
}
.inner_txt_twe_slide_effect{
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
}
.im{
    font-size: 24px;
}
#pphppt{
    font-size: 14px;
    font-family: "GoodRx Bolton", arial;
    font-weight: 400;
    line-height: 1.42857;
    color: rgb(87, 87, 87);
    margin-top: auto;

}
#pphppti{
    font-size: 14px;
    font-family: "GoodRx Bolton", arial;
    font-weight: 400;
    line-height: 1.42857;
    color: rgb(87, 87, 87);
    margin-top: auto;

}
.compare_your_medicine{
    padding-top: 12px;
    padding-bottom: 12px;
}
.inner_compare_your_medicine{
    border-radius: 16px;
background-color: rgb(230, 242, 252);
padding: 20px;

}
.flex_row_one{
    display: flex;
}
.only_txt_comapre_flex_column{
    display: flex;
    flex-direction: column;
}
#ioioio{
    color: rgb(32, 31, 27);
    font-weight: 500;
    font-size:28px;
    font-family:  arial;
    line-height: 1;
    padding-bottom: 2px;
    margin: 0px;
    
}
#neooi{
    color: rgb(32, 31, 27);
    font-weight: 400;
    font-size:16px;
    font-family:  arial;
    line-height: 1.5;
    margin: 0px;
}
.try_it_now_button{
    margin-top: 16px;
    padding: 12px 24px;
    text-decoration: none;
    background-color: rgb(15, 86, 166);
    border-radius: 100px;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px;
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
    font-size: 16px;
    color: #ffff;
    font-family: Arial;
    line-height: 1;
    font-weight: 500;
    min-height: 48px;
    min-width: 48px;
   

}
.img_drug_prices_promo{
    display: flex;
    margin-left: 12px;
    img{
        height:200px;
        width:200px;
    }
}

.img_inner_padding_8px{
    position: relative;
    padding-bottom: 8px;
}
#pharm_span_new{
    font-size: 14px;
    font-family: "GoodRx Bolton", arial;
    font-weight: 400;
    line-height: 1.42857;
    margin-top:auto;
    color: rgb(87, 87, 87);
}
.pharma_one{
    span{
        margin-top: 0%;


    }
    
}
.pharma_two{
    span{
        margin-top: 0%;
    }
    

}
.pharma_unique{
    span{
        margin-top: 28px;
    }
    

}
#pphppt_new_one{
    font-size: 14px;
    font-family: "GoodRx Bolton", arial;
    font-weight: 400;
    line-height: 1.42857;
    color: rgb(87, 87, 87);
    margin-top:auto;

}
.inner_left_img_about:hover{
    background-color: #f0f0ed

}
.twe_slide_effect_ques:hover{
    background-color: #f0f0ed

}
.container_last{
    max-width: 1280px;
    margin: 0 auto;
    padding: 12px 12px 24px;
    display: flex;

}
.last_divi_inner_data{
    width: 100%;
}
.last_section_heading_flex{
    display: flex;
    flex-direction: row;
}
.last_section_heading_block_margin{
    display: block;
    width: 100%;
    margin:4px;
}
.h_l_last{
    font-family: arial;
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    color: rgb(32, 31, 27);
    margin: 0%;
}
.flex_wrap_of_content_with_img{
    display: flex;
    flex-flow: wrap;
    margin-right: -8px;
    margin-left: -8px;
    margin-bottom: 20px;
}
.common_inner_flex_cover{
    display: block;
    flex-basis: 25%;
    max-width: 25%;
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
    flex: 1 1 auto;

}
.common_top_bottom_margin_block{
    padding-top: 12px;
    padding-bottom: 12px;
    height: 100%;
    a{
        text-decoration: none;
        display: inline-block;
        -webkit-box-align: center;
        -webkit-box-pack: center;
        height: 100%;
    }

}
.inner_data_img_with_cotent_last_section{
    padding: 20px;
    display: flex;
    box-shadow: rgba(34, 34, 34, 0.1) 0px 4px 16px, rgba(34, 34, 34, 0.08) 0px 1px 2px;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
}
.inner_flex_direction_column_last{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.img_section_common_for_last_section{
    padding-bottom: 8px;
    img{
        height:145.6px;
        width: 260px;
    }
}
.txt_bottom_of_img_last_section{
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
}
.lt_txt_inner_last{
    font-family:arial;
    font-weight: 500;
    font-size:24px ;
    line-height: 1;
    margin-top: 0%;
    margin-bottom: 12px;
    color: rgb(32, 31, 27);
    
}
.sc1{
    font-family: arial;
    font-weight: 400;
    font-size:14px;
    line-height: 1.42857;
    margin-top:auto;
   
    color: rgb(87, 87, 87);
}
.one_span{
    
}

.inner_data_img_with_cotent_last_section:hover{
    background-color: #f0f0ed

}
.view_button_last_section{
    display: grid;
    padding-top: 12px 

}
.view_more{
   
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    
    text-align: center;
    user-select: none;
    white-space: nowrap;
    background: rgb(15, 86, 166);
    box-sizing: border-box;
    font-size:16px;
    font-family:  arial;
    font-weight: 500;
    line-height: 1;
    padding: 12px 24px;
    border-radius: 100px;
    border: 0px solid transparent;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px;
    color: rgb(255, 255, 255);
    min-height: 48px;
    min-width: 48px;
    margin: 0px auto;
}
.view_more:hover{
    background-color: #1d74de; 
    
}
.try_it_now_button:hover{
    background-color: #1d74de; 

}
